
       

 <div class="container"> 
    <div class="form-group row box">
        <div id="center-banner">
            <img class="imgACME" src="https://s3.amazonaws.com/upload.uxpin/files/102968/109980/uxpmod_197311_12088794_12083985493_hipsterlogogenerator_1412092528296.png">
            <br>
            <span>
                <strong id="textFinancial">Financial</strong>
            </span>
        </div>
    </div>
 </div>
 
 <div class = "container">
     <div class = "edit-wrapper">
        <form>
            <div class="logout">
                <button class="btn btn-link" ng-click="logout()">Logout</button>
            </div>
            <label for="FirstName"   >First Name</label>
                <input type="text" class="form-control" id="FirstName" ng-model="user.name.first" placeholder="First Name">
            <label for="LastName"  >LastName</label>
                <input type="text" class="form-control" id="LastName" ng-model="user.name.last" placeholder="Last Name">
            <label for="age"   >Age:</label>
                <input type="text" class="form-control" id="age" ng-model="user.age" placeholder="Age">
            <label for="Eye color">Eye Color:</label>
                <input type="text" class="form-control" id="Eye color" ng-model="user.eyeColor" placeholder="Eye color">
            <label for="company"   >Company</label>
                <input type="text" class="form-control" id="company" ng-model="user.company" placeholder="Company">
            <label for="email"   >Email</label>
                <input type="email" class="form-control" id="email" ng-model="user.email" placeholder="Email">
            <label for="phone"  ng-model="password" >Phone</label>
                <input type="password" class="form-control" id="phone" ng-model="user.phone" placeholder="Phone">
            <label for="address"   >Address</label>
                <input type="text" class="form-control" id="address" ng-model="user.address" placeholder="Address">
            <button type="submit" class="btn btn-primary btn-block" id = "save" ng-click="edit()">Save </button>
             


        </form>

    </div>
     </div>
 </div>