<div class="container"> 
    <div class="form-group row box">
        <div id="center-banner">
            <img class="imgACME" src="https://s3.amazonaws.com/upload.uxpin/files/102968/109980/uxpmod_197311_12088794_12083985493_hipsterlogogenerator_1412092528296.png">
            <br>
            <span>
                <strong id="textFinancial">Financial</strong>
            </span>
        </div>
    </div>
 </div>
 
<div class = "container">
    <div class="first-column">
        <b>Welcome {{user.name.first}} {{user.name.last}}!</b>
        <strong class = "balance">Current Balance:</strong><br>
        <strong class = "balance">{{user.balance}}</strong>
    </div>
    <div class = "first-row">
        <div class = "second-column">
            <img src="{{user.picture}}" id="userPic">
            <strong>Company:{{user.company}}</strong>
            <strong>Age:{{user.age}}</strong>
            <strong>Eye Color:{{user.eyeColor}}</strong>
            <div class="logout">
                <button class="btn btn-link" id = "logout" ng-click="logout()">Logout</button>
            </div>
        </div>
        <div class = "third-column">
            <strong>Email:{{user.email}} </strong>
            <strong>Phone:{{user.phone}} </strong>
            <strong>Address:{{user.address}} </strong>
        </div>
    </div>
    <button type="submit" class="btn btn-primary btn-block subButton" ui-sref="edit">Edit Profile</button>
</div>